<div class="container">
    <h2>P2P Чат</h2>
    <div>
        <label id="myRoomId"></label><br/>
        <button (click)="copyLinkToClipboard()">Скопировать ссылку на беседу</button>
        <input id="remoteId" type="text" placeholder="Номер абонента"><br/>
        <button (click)="callPeer()">Присоединиться</button>
        <button (click)="closeCall()">Закончить звонок</button>
    </div>
    <div class="video-container">
        <video id="remoteVideo" autoplay></video>
        <video id="localVideo" autoplay playsinline></video>
    </div>
</div>
